<ng-container *ngIf="posts.length > 0">
  <form [formGroup]="userIdForm" #form="ngForm">
    <select class="posts-dropdown" (change)="updatePostsView($event)" formControlName="userId">
      <option value="">All</option>
      <option *ngFor="let userId of userIds" [ngValue]="userId">
        {{userId}}
      </option>
    </select>
  </form>

  <mat-grid-list cols="5" rowHeight="2:1">
    <mat-grid-tile *ngFor="let post of filteredPosts">

      <app-post [post]="post">
      </app-post>

    </mat-grid-tile>
  </mat-grid-list>

</ng-container>