<section class="main">
  <header>
    <h1>Posts App</h1>
    <div class="filter">
      <span>Filter by user id</span>
      <ng-container *ngIf="posts.length">
        <form [formGroup]="userIdForm" #form="ngForm">
          <select class="posts-dropdown" (change)="updatePostsView($event)" formControlName="userId">
            <option [ngValue]="null" selected>All</option>
            <option *ngFor="let userId of userIds" [ngValue]="userId">
              {{userId}}
            </option>
          </select>
        </form>
      </ng-container>
    </div>

  </header>

  <ng-container *ngIf="posts.length">
    <mat-grid-list cols="10" rowHeight="1:1">
      <mat-grid-tile *ngFor="let post of filteredPosts">

        <app-post [post]=" post">
        </app-post>

      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>

  <footer>
    <p>Posts App - No rights reserved.</p>
  </footer>
</section>